# Android build
android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/local.properties
android-app/.idea/
*.iml

# Python
pc-receiver/build/
pc-receiver/__pycache__/
pc-receiver/*.spec
pc-receiver/.venv-standalone/

# Temp files
classes_tmp.jar
classes_extracted/
rc_key.txt
.vbs

# Windows
Thumbs.db
.DS_Store
